@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.DashboardHeader {
	width: max-content;
	height: auto;
	margin-left: auto;

	&_title {
		// @include flex_row(center, center);
		text-align: center;
		font-size: 3rem;
		color: #fff;

		& > b {
			color: var(--blue600);
		}
	}
}
