@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.DashboardHeader {
	width: 100%;
	height: auto;

	&_title {
		text-align: center;
		font-size: 3rem;
		color: #fff;

		& > b {
			color: var(--blue600);
		}
	}
}
