@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.UserHome {
	width: auto;
}

.WelcomeMessage {
	min-width: 25rem;
	text-align: center;
	font-size: 3rem;
	color: #fff;
	margin-left: auto;
	margin-right: auto;

	& > b {
		color: var(--blue600);
	}
}
