@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.RoomInfo {
	width: 100%;

	&_header {
		width: 100%;
		height: auto;

		&_name {
			font-size: 3.5rem;
		}
		&_lastActive {
			font-size: 1.7rem;
		}
	}
}
