@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.RoomCode {
	width: 15rem;
	height: 5rem;
	border-radius: 5rem;
	border: 1px solid var(--border-color);
	@include flex_row(center, center);
	gap: 0 1rem;
	font-size: 1.6rem;
	background-color: var(--bg-foreground);
	color: var(--blueGrey400);

	&_icon {
		width: 1.7rem;
		height: 1.7rem;
		fill: var(--blueGrey400);
	}
}
